html{
  font-family: 'Mulish', sans-serif;
}
*{
  margin: 5px;
}
body{
  position: relative;
  padding: 25px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  a{
    text-decoration: none;
    padding: 5px 15px;
  }
  li {
    display:inline-block;
  }
  .button{
    background-color:  #3C64B1;
    padding: 5px 25px;
    color: white;
    transition: 0.5s;
  }
  .button2{
    background-color:  #3C64B1;
    padding: 5px 25px;
    color: white;
    transition: 0.5s;
  }
  .button:hover {
    background:purple;    
  }
  .button2:hover {
    background:purple;    
  }
  .part_one{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 26px;
  }
  .input{
    position: relative;
  }
  .buttons{
    display: contents;
  }
  #find{
    position: relative;
  }
  #find::before{
    position: absolute;
    content: "\1F50D";
    z-index: 1;
    height: px;
    transform: translateY(-50%);
    top: 50%;
    left: 5%;
  }
  .second_part{
   text-align: center;
   display: inline-block;
 }
  .three_opt{
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .other_opt{
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .state{
    cursor: pointer;
    position: fixed ;
    right: 20px;
    bottom: 20px;
    padding: 5px 5px;
    background-size: 100px;
    border-radius: 50%;
    background-color:skyblue;
  }
  .table{
    display: block;
  }

